@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #app, main {
  @apply h-full;
}

main {
  @apply
    grid
    grid-cols-3
    gap-12
    p-4
    pb-14
  ;
}

main > section {
  @apply
    flex flex-col gap-4
    h-full overflow-hidden
  ;
}

hr {
  @apply
    border-2
    border-gray-200
    mt-2
    mb-4
    -mx-2
  ;
}

.card {
  position: relative;
}
.card:before {
  content:'';
  width: 100%;
  height: 15%;
  position:absolute;
  left: 0;
  bottom: 0;
  background:linear-gradient(transparent 1rem, white);
}

:root {
  --weather-icon-cloud-front-color: rgb(225, 225, 225);
  --weather-icon-cloud-back-color: rgb(195, 195, 195);
  --weather-icon-sun-color: rgb(150, 150, 150);
  --weather-icon-rain-color: rgb(0, 0, 0);
  --weather-icon-moon-color: rgb(50, 50, 50);
}

.rain {
  fill: var(--weather-icon-rain-color, #30b3ff);
}
.sun {
  fill: var(--weather-icon-sun-color, #fdd93c);
}
.moon {
  fill: var(--weather-icon-moon-color, #fcf497);
}
.cloud-back {
  fill: var(--weather-icon-cloud-back-color, #d4d4d4);
}
.cloud-front {
  fill: var(--weather-icon-cloud-front-color, #f9f9f9);
}
.snow {
  fill: var(--weather-icon-snow-color, #f9f9f9);
  stroke: var(--weather-icon-snow-stroke-color, #d4d4d4);
  stroke-width: 1;
  paint-order: stroke;
}