fastapi==0.112.2
homeassistant-api==4.2.2.post1
Jinja2==3.1.4
loguru==0.7.2
Pillow==10.4.0
playwright==1.46.0
pydantic==2.8.2
pydantic-settings==2.4.0
python-dateutil==2.9.0.post0
pytz==2024.01
pyyaml-include==2.1
PyYAML==6.0.2
requests==2.32.3
uvicorn[standard]==0.30.6
websockets==13.0.1
