fastapi==0.111.0
homeassistant-api==4.2.2.post1
Jinja2==3.1.4
loguru==0.7.2
Pillow==10.3.0
playwright==1.44.0
pydantic==2.7.3
pydantic-settings==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyyaml-include==2.1
PyYAML==6.0.1
requests==2.32.3
uvicorn[standard]==0.30.1
websockets==12.0
