fastapi==0.111.0
homeassistant-api==4.2.1
Jinja2==3.1.5
loguru==0.7.2
Pillow==10.3.0
playwright==1.41.0
pydantic==2.7.4
pydantic-settings==2.3.3
python-dateutil==2.8.2
pytz==2024.01
pyyaml-include==1.3.2
PyYAML==6.0.1
requests==2.32.4
uvicorn[standard]==0.30.1
websockets==12.0
