name: Build

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read current version
        run: |
          echo "VERSION=$(grep '^version = ' pyproject.toml | cut -d '"' -f 2)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/petterhj/homeassistant-inkplate-dashboard:latest
            ghcr.io/petterhj/homeassistant-inkplate-dashboard:${{ env.VERSION }}
          build-args: |
            DOCKER_TAG=${{ env.VERSION }}
            UID=1000
            GID=1000
