name: Pipeline

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  tests:
    name: Run tests
    uses: ./.github/workflows/tests.yaml

  build:
    name: Build and push
    needs: [tests]
    uses: ./.github/workflows/build.yml
